*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*make page fill 100% of view height*/
    background-color: #2F2342;
}
.clock{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/src/components/resourses/pictures/clock.png");
    background-size: cover; /*make png fit into container*/
    border: 4px solid #2F2342; /*make 3d illusion*/
    border-radius: 50%; /*make it round*/
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05), /*make highlight top outer rim*/
                inset 0 -15px 15px rgba(255,255,255,0.05), /*make highlight bottom inner rim*/
                0 15px 15px rgba(255,255,255,0.3), /*make highlight bottom outer rim*/
                inset 0 15px 15px rgba(255,255,255,0.3); /*make highlight top inner rim*/
}
.clock:before{ /*make center dot for arms to spin around*/
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff; /*white*/
    border-radius: 50%; /*make it round*/
    z-index: 10000; /* make it on top of everything*/
    border: black solid 2px;
}
.clock .hour,
.clock .min,
.clock .sec{
    position: absolute; /*position the 3 arms in center of clock*/
}
.clock .hour, .hr{ /**/
    width: 160px;
    height: 160px;
}

.clock .min, .mn{ /**/
    width: 190px;
    height: 190px;
}
.clock .sec, .sc{ /**/
    width: 230px;
    height: 230px;
}
.hr, .mn, .sc{
    display: flex;
    justify-content: center; /*make it be on spot -> move it from left to center*/
    position: absolute;
    border-radius: 50%; /*Spin in circle*/
}
.hr:before{
    content: "";

    position: absolute;
    width: 8px;
    height: 80px;
    background: #cc293d;
    z-index: 10; /*place it above the "clock" but under the centerDot*/
    border-radius: 6px 6px 0 0; /*smoothing out end of hour gage*/
}
.mn:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11; /*place it above the "clock" and hour gage but under the centerDot*/
    border-radius: 6px 6px 0 0; /*smoothing out end of hour gage*/
}
.sc:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12; /*place it above the "clock" and hour+min gage but under the centerDot*/
    border-radius: 6px 6px 0 0; /*smoothing out end of hour gage*/
}

